:root {
  --bodyBg: #f0f4f8;
  --progressBar: #db1500;
  --progressSpinner: #5c5453;
}

body {
  background-color: #8EC5FC !important;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%) !important;
}

#__next {
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .ui.four.cards > .card {
    width: calc(50% - 1.5em) !important;
    margin-left: .75em !important;
    margin-right: .75em !important;
  }
}

.ui.menu.fluid.inverted {
  background-color: #6692bf !important;
  background-image: linear-gradient(62deg, #6590be 0%, #a68fbe 100%) !important;
}

.ui.inverted.menu a.item:hover, div .ui.inverted.menu .active.item{
  color: #ffd198 !important;
}

.ui.accordion .active.content, .ui.styled.accordion.fluid {
  background: linear-gradient(108.1deg, rgba(167, 220, 225, 1) 11.2%, rgba(217, 239, 242, 1) 88.9%);
}

.ui.secondary.segment.account__segment {
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.ui.pagination.menu {
  font-size: 1.2rem;
}
.ui.pagination.menu a:before {
background-color: rgba(34, 36, 38, .3);
}

div.ui.segment {
  background: rgba(255, 255, 255, 0.47);
}
.ui.inverted.segment.cart-items {
  background: linear-gradient(100deg, #214d71, #0883bfe0);
}